<div id="<%= dom_id friend %>">
  <p>
    <strong>Cake name:</strong>
    <%= friend.cake_name %>
  </p>

  <p>
    <strong>Cake type:</strong>
    <%= friend.cake_type %>
  </p>

  <p>
    <strong>Cake taste:</strong>
    <%= friend.cake_taste %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= friend.rating %>
  </p>

  <p>
    <strong></strong>
    <img src="<%= friend.uri %>" class="img-fluid">
  </p>

</div>
